---
pagination:
    data: articles
    size: 5
---

{% extends "_includes/default.njk" %}
{% block title %}Jocarifeta{% endblock %}
{% block content %}
  <div class="max-w-screen-sm mx-auto">
    {% for article in pagination.items %}
      <h1>{{ article.title }}</h1>
      <p>By
        <a>{{ article.author }}</a>
        –
        <span>{{ article.created | dayjs }}</span>
      </p>
      <a href="blog/{{ article.slug }}">Read article</a>
    {% endfor %}
  </div>
{% endblock %}
