---
pagination:
    data: poems
    size: 5
description: A blog where I write whatever passes through my mind...
finalText: as roses are red, you've reached now the end…
---

{% extends "_includes/lists.njk" %}
