---
pagination:
    data: stories
    size: 5
description: A blog where I write whatever passes through my mind...
finalText: there are no more stories to tell...
---

{% extends "_includes/lists.njk" %}
