<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% block title %}skindeep{% endblock %}
    </title>
    <meta charset="UTF-8"/>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="theme-color" content="#fff1a5"/>
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Nunito:wght@300;400;600&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="/style.css?v={% version %}"/>
    <link rel="shortcut icon" href="/static/imgs/favicon.ico"/>
    <link rel="apple-touch-icon" href="/static/imgs/logo192.png"/>
    <link rel="manifest" href="/manifest.webmanifest"/>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="container relative mx-auto min-h-screen font-body pb-10 sm:px-2 sm:pb-20">
      <div class="flex items-center mb-6 sm:mb-20">
        <h1 class="hidden bg-transparent text-2xl sm:text-4xl sm:block">
          <a href="/" class="unstyled-a p-3 hover:text-black hover:bg-yellow">skiN[deeP]</a>
        </h1>
        <h1 class="bg-transparent text-2xl sm:text-4xl pl-0 pr-0 sm:hidden">
          <a href="/" class="unstyled-a p-3 hover:text-black hover:bg-yellow">[]</a>
        </h1>
        <ul class="flex flex-grow justify-start mt-2 ml-2">
          <li class="nav-link mr-2 sm:mr-4 {{ 'active' if page.fileSlug === '' }}">
            <span>[
            </span>
            <a class="unstyled-a" href="/">Everything</a>
            <span>
              ]</span></li>
          <li class="nav-link mr-2 sm:mr-4 {{ 'active' if page.fileSlug === 'stories' }}">
            <span>[
            </span>
            <a class="unstyled-a" href="/stories">Stories</a>
            <span>
              ]</span></li>
          <li class="nav-link mr-2 sm:mr-4 {{ 'active' if page.fileSlug === 'poems' }}">
            <span>[
            </span>
            <a class="unstyled-a" href="/poems">Poems</a>
            <span>
              ]</span></li>
        </ul>
      </div>
      {% block content %}
        {{ content | safe }}
      {% endblock %}
      {{ page.filePathStem | consoleDump }}
    </div>
    <script>
      if ("serviceWorker" in navigator) 
        navigator
          .serviceWorker
          .register("/service-worker.js");
    </script>
  </body>
</html>
