{% extends "_includes/default.njk" %}
{% from "_components/pagination-arrow.njk" import PaginationArrow %}

{% block title %}skindeep{% endblock %}

{% block content %}
  <div class="max-w-screen-sm mx-auto pb-12">
    {% for article in pagination.items %}
      <div class="my-10 {{ 'text-right' if article.idx % 2 === 0 }}">
        <h1>{{ article.title }}</h1>
        <div class="px-5">
          <p class="mt-4 text-gray-700 font-light">By
            {{ article.author }}
            –
            {{ article.created | dayjs }}
          </p>
          {{ article.extract | markdown | safe }}
          <div class="{{ 'text-right' if article.idx % 2 === 0 }}">
            <a href="/blog/{{ article.slug }}">Read
              {{ 'story' if not article.poem }}{{ 'poem' if article.poem }}</a>
          </div>
        </div>
      </div>
    {% endfor %}

    <div class="flex justify-between px-5 mt-16">
      {% if pagination.previousPageLink %}
        {{ PaginationArrow('Previous page', '{{ pagination.previousPageLink }}') }}
        <div></div>
      {% endif %}
      {% if pagination.nextPageLink %}
        <div></div>
        {{ PaginationArrow('Next page', '{{ pagination.nextPageLink }}', type='right') }}
      {% endif %}
    </div>
  </div>
  {% if not pagination.nextPageLink %}
    <div class="absolute bottom-0 max-w-full bg-yellow h-12 container flex items-center justify-center">
      <p class="mb-0">{{ finalText }}</p>
    </div>
  {% endif %}
{% endblock %}
