{% macro PaginationArrow(text, href, direction = 'left') %}
  <a href="{{href}}" class="unstyled-a relative">
    <img class="inline-block sm:absolute {{ 'mr-4 sm:mt-1 sm:-left-8' if direction === 'left' }} {{ 'ml-4 transform rotate-180 sm:absolute sm:mt-1.5' if direction === 'right' }}" src="/static/icons/arrow.svg" alt="arrow"/>
    {{ text }}
  </a>
{% endmacro %}
