@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: theme('colors.black');
}

h1 {
  @apply font-mono inline-block;
  @apply text-3xl;
  @apply px-5;
  background: theme('colors.yellow');
  max-width: max-content;
}

@screen sm {
  h1 {
    @apply text-5xl;
  }
}

a {
  @apply border-b-2;
  @apply border-black;
  @apply cursor-pointer;
  @apply relative;
  @apply transition-colors duration-300;
}

a:before {
  content: '';
  @apply transition-transform duration-300 origin-bottom ease-out;
  transform: scaleY(0);
}

a:hover,
a:active {
  @apply text-white;
}

a:hover:before {
  content: '';
  @apply w-full h-full absolute bg-black bottom-0 -z-1;
  @apply transition-transform duration-300 ease-out;
  transform: scaleY(1);
}

p {
  @apply mb-4;
}

b,
strong {
  @apply font-semibold;
}

.unstyled-a {
  @apply border-b-0;
}

.unstyled-a:before {
  display: none;
}

.unstyled-a:hover {
  @apply text-black;
}
